*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

practica1/index
practica1/.settings
practica1/bin
practica1/dublinCore
practica1/.classpath
practica1/.project

*.class
*.class
practica1/bin/org/apache/lucene/demo/SearchFiles.class
InformeJuicios/Informe/informeJuicios.log
InformeJuicios/Informe/informeJuicios.out
InformeJuicios/Informe/informeJuicios.synctex.gz
InformeJuicios/paraEntregar/Thumbs.db
*.aux